$primary: #2E79FF;
$body-bg: black;
$body-color: white;
//$font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, sans-serif;
$spacer: 24px;
$grid-gutter-width: $spacer / 4;
$border-radius: $spacer / 4;
$border-radius-lg: $spacer / 4;
$border-width: 2px;