html,
body {
	padding: 0;
	margin: 0;
	/*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace !important;
	background-color: black !important;
	color: white;
}

.btn {
	border-radius: 6px !important;
	border-width: 2px !important;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

$primary: #2E79FF;

::selection {
	background: $primary; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: $primary; /* Gecko Browsers */
}

h1 {
	font-size: 40px;
}

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/buttons";