@import "../../node_modules/bootstrap/scss/functions";

// Default Bootstrap variable overrides
@import "./vars.scss";

::selection {
	background: $primary; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: $primary; /* Gecko Browsers */
}

h1 {
	font-size: 48px !important;
}

h3 {
	font-size: 24px !important;
}

@import "../../node_modules/bootstrap/scss/variables";

body {
	background-color: $body-bg;
}

@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/utilities/api";
//@import "../../node_modules/bootstrap/scss/bootstrap.scss";