.nav {
	height: 64px;
	display: flex;
	align-items: center;
	margin: 0 auto;
	//max-width: 1280px;
	/*padding-right: 6px;*/
}

.image_container {
	border-radius: 50%;
	height: 60px;
	width: 60px;
}

.nav_divider {
	height: 2px;
	background-color: white;
}

.nav_container {
	z-index: 1000;
}