.nav {
	height: 64px;
	display: flex;
	align-items: center;
	margin: 0 auto;
	//max-width: 1280px;
	/*padding-right: 6px;*/
}

.image_container {
	border-radius: 50%;
	height: 60px;
	width: 60px;
}

.nav_toggle:hover {
	color: initial;
	background-color: initial;
}

.nav_toggle:hover svg {
	color: initial;
	background-color: initial;
}