$primary: #26ed1c;
$body-bg: black;
$body-color: white;
$font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, sans-serif;
$spacer: 24px;
$grid-gutter-width: $spacer / 4;
$border-radius: $spacer / 4;
$border-radius-lg: $spacer / 4;
$border-width: 2px;
$light: #f8f9fa;
$btn-white-space: nowrap;
$offcanvas-bg-color: black;
$offcanvas-border-color: white;
$card-border-radius: $spacer / 2;
$card-spacer-y: $spacer / 2;
$card-spacer-x: $card-spacer-y;
$enable-negative-margins: true;